{% extends "layout.html" %}

{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'Introduction/guide.css' %}">
<script src="http://code.jquery.com/jquery-latest.js"></script>
{% endblock %}
{% block content %}
<form action="guide" method="post" enctype="multipart/form-data">
    <div class="guideline">
        <div class="content_title">
            <p class="title_text">서비스 가이드</p>
        </div>
        <div class="step_logos">
            <div class="step_box">
                <div class="step_circle">
                    <span class="step_text">Step1</span>
                    <i class="fa-solid fa-user fa-2x"></i>
                </div>
                <p class="step_text">회원가입</p>
            </div>
            <i class="fa-solid fa-arrow-right fa-3x"></i>
            <div class="step_box">
                <div class="step_circle">
                    <span class="step_text">Step2</span>
                    <i class="fa-solid fa-magnifying-glass fa-2x"></i>
                </div>
                <p class="step_text">조건검색</p>
            </div>
            <i class="fa-solid fa-arrow-right fa-3x"></i>
            <div class="step_box">
                <div class="step_circle">
                    <span class="step_text">Step3</span>
                    <i class="fa-solid fa-comment fa-2x"></i>
                </div>
                <p class="step_text">거래제안</p>
            </div>
            <i class="fa-solid fa-arrow-right fa-3x"></i>
            <div class="step_box">
                <div class="step_circle">
                    <span class="step_text">Step4</span>
                    <i class="fa-solid fa-pen-fancy fa-2x"></i>
                </div>
                <p class="step_text">계약작성</p>
            </div> 
            <i class="fa-solid fa-arrow-right fa-3x"></i>
            <div class="step_box">
                <div class="step_circle">
                    <span class="step_text">Step5</span>
                    <i class="fa-solid fa-handshake fa-2x"></i>
                </div>
                <p class="step_text">계약체결</p>
            </div>
            <i class="fa-solid fa-arrow-right fa-3x"></i>
            <div class="step_box" style="float:clear">
                <div class="step_circle">
                    <i class="fa-solid fa-check fa-2x" style="margin-top:18px"></i>
                </div>
                <p class="step_text">완료</p>
            </div>
        </div>
        <div class="descs">
            <div class="step_desc">
                <div class=icon_placement>
                    <i class="fa-solid fa-user fa-6x"></i>                
                </div>
                <div class=desc_zone>
                    
                </div>
            </div>
            <div class="step_desc">
                <div class=icon_placement>
                    <i class="fa-solid fa-magnifying-glass fa-6x"></i>                
                </div>
                <div class=desc_zone>
                    
                </div>
            </div>
            <div class="step_desc">
                <div class=icon_placement>
                    <i class="fa-solid fa-comment fa-6x"></i>                
                </div>
                <div class=desc_zone>
                    
                </div>
            </div>
            <div class="step_desc">
                <div class=icon_placement>
                    <i class="fa-solid fa-pen-fancy fa-6x"></i>                    
                </div>
                <div class=desc_zone>
                    
                </div>
            </div>
            <div class="step_desc">
                <div class=icon_placement>
                    <i class="fa-solid fa-handshake fa-6x"></i>                    
                </div>
                <div class=desc_zone>
                    
                </div>
            </div>
            <div class="step_desc">
                <div class=icon_placement>
                    <i class="fa-solid fa-check fa-6x"></i>
                </div>
                <div class=desc_zone>
                    
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" ></script>
{% endblock %}